{% extends 'base.html.twig' %}

{% block title %}Concert index{% endblock %}

{% block body %}
    <h1>Concert index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>City</th>
                <th>Place</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for concert in concerts %}
            <tr>
                <td>{{ concert.id }}</td>
                <td>{{ concert.date ? concert.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ concert.city }}</td>
                <td>{{ concert.place }}</td>
                <td>
                    <a href="{{ path('concert_show', {'id': concert.id}) }}">show</a>
                    <a href="{{ path('concert_edit', {'id': concert.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('concert_new') }}">Create new</a>
{% endblock %}
