{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h1>Á vos agenda, le Rock Français n'est pas mort !</h1>

    <div class="cards-article">
            {% for article in articles %}

                    <div class="card card-index">
                        <div class="flange-left">
                        </div>
                        <div class="flange-top">
                            <p class="flange-title">Concert</p>
                        </div>
                        <h5 class="card-title text-center">{{ article.title }}</h5>
                        {% for picture in article.picture %}
                            <img class="card-img-top" src="{{asset('uploads/images/' ~ picture.url) }}" alt="Card image cap">
                        {% endfor %}
                        <div class="card-body">
                            <p class="card-text text-center">{{ article.content | striptags | slice(0, 100) }} [...]</p>
                            <div class="card-body-bottom">
                                <p class="bottom-date">{{ article.date|localizeddate('none', 'none', 'fr', null, 'd MMMM Y') }}</p>
                                <a href="{{ path('article_show', {'id': article.id}) }}">En savoir plus</a>
                            </div>
                        </div>
                    </div>

            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
    </div>


    <a href="{{ path('article_new') }}">Create new</a>
{% endblock %}



