{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h1 class="title-article">Á vos agenda, le Rock Français n'est pas mort !</h1>

    <div class="allCards">
        {% for article in articles %}

            {% if article.concert is not null %}

                <div class="cards">
                    <div class="flange-top">
                        <p class="flange-title">Concert</p>
                    </div>
                    <div class="flange-left">

                    </div>

                    <div class="content">
                        <h2 class="title-card-concert">{{ article.title }}</h2>

                        {% for picture in article.picture %}
                            <img class="img-card-concert" src="{{asset('uploads/images/' ~ picture.url) }}" alt="Card image cap">
                        {% endfor %}

                        <p class="text-card-concert">{{ article.content | striptags | slice(0, 100) }} [...]</p>

                        <div class="footer-card">
                            <p class="footer-card-date">{{ article.date|localizeddate('none', 'none', 'fr', null, 'd MMMM Y') }}</p>
                            <a class="footer-link" href="{{ path('article_show', {'id': article.id}) }}">En savoir plus</a>
                        </div>

                    </div>
                </div>

            {% elseif article.recording is not null %}

                <div class="cards">
                    <div class="flange-top">
                        <p class="flange-title">Album</p>
                    </div>
                    <div class="flange-left">

                    </div>

                    <div class="content">
                        {% for picture in article.picture %}
                            <img class="img-card-recording" src="{{asset('uploads/images/' ~ picture.url) }}" alt="Card image cap">
                        {% endfor %}
                        <h2 class="title-card-recording">{{ article.title }}</h2>



                        <p class="text-card-recording">{{ article.content | striptags | slice(0, 180) }} [...]</p>

                        <div class="footer-card">
                            <p class="footer-card-date">{{ article.date|localizeddate('none', 'none', 'fr', null, 'd MMMM Y') }}</p>
                            <a class="footer-link" href="{{ path('article_show', {'id': article.id}) }}">En savoir plus</a>
                        </div>

                    </div>
                </div>

            {% endif %}

        {% endfor %}
    </div>

    <a href="{{ path('article_new') }}">Create new</a>
{% endblock %}



