{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}

    <h1>{{ article.title }}</h1>

    {% if article.concert is not null %}

        <div class="content-show-article-concert">

            <div class="content-show-blockImage-concert">
                {% for picture in article.picture %}
                <img class="content-show-image-concert" src="{{asset('uploads/images/' ~ picture.url) }}" alt="image article n° {{ article.id }}" > </div>
            {% endfor %}

            <p class="content-show-text-concert">{{ article.content }}</p>

        </div>

    {% elseif article.recording is not null %}

        <div class="content-show-article-recording">

            {% for picture in article.picture %}
                <img class="content-show-image-recording" src="{{asset('uploads/images/' ~ picture.url) }}" alt="image article n° {{ article.id }}" >
            {% endfor %}

            <p class="content-show-text-recording">{{ article.content|nl2br }}</p>

        </div>

    {% endif %}

    <a href="{{ path('article_index') }}">back to list</a>

    <a href="{{ path('article_edit', {'id': article.id}) }}">edit</a>

    {{ include('article/_delete_form.html.twig') }}

{% endblock %}
